{:kotoba.app/id "cloud.itonami.isic-5224", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreigpayhedhhg454zaos6z6ln4pifcp6orejp3kxifyb3evdfxeyfry", :kotoba.app/embed-url "ipfs://bafkreigpayhedhhg454zaos6z6ln4pifcp6orejp3kxifyb3evdfxeyfry", :published {:archive "https://kotobase.net/ipfs/bafkreigpayhedhhg454zaos6z6ln4pifcp6orejp3kxifyb3evdfxeyfry", :size 73207, :put-status 201, :get-status 200, :at "2026-08-15T13:44:16.104Z"}}
